<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/base.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="../static/package/handsontable.full.min.css">
    <script src="../static/package/handsontable.full.min.js"></script>
    <script type="text/javascript" src="../static/package/zh-TW.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <section>
        {% block popup %}{% endblock %}
        <div class="grid-system">
            <div class="box box1">
                <div class="left-container">
                    <img src="static/image/taibif-logo.png" alt="Logo" class="logo-img">
                    <div class="logo-title">資料驗證工具</div>  
                </div>
                <div class="right-container">
                    <div id="data-template" class="nav"><img alt="frog" src="static/image/mascot-frog.png" class="nav-img"/><p>資料模板</p></div>
                    <div><i>&#x02192</i></div>
                    <div id="data-edit" class="nav"><img alt="frog" src="static/image/mascot-Mreevesi.png" class="nav-img"/>編輯資料</div>
                    <div><i>&#x02192</i></div>
                    <div id="data-validation" class="nav"><img alt="frog" src="static/image/mascot-fish.png" class="nav-img"/>資料驗證</div>
                    <div><i>&#x02192</i></div>
                    <div id="data-clearance" class="nav"><a href=" {{ url_for('data_clearance') }}">資料清理(宇宙連結)</a></div>
                </div>           
            </div>
            <div class="box box2">
                {% block box2 %}{% endblock %}
            </div>
            <div class="box box3">
                {% block box3 %}{% endblock %}
            </div>
            <div class="box box4">
                {% block box4 %}{% endblock %}
            </div>
            <div class="box box5">
                {% block box5 %}{% endblock %}
            </div>
            <div class="box box6">
                {% block box6 %}{% endblock %}
            </div>
            <div class="box box7">
                {% block box7 %}{% endblock %}
            </div>
        </div>
    </section>
</body>
</html>