{% extends 'base.html' %}

{% block head %}
<script src="../static/package/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/data-edit.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='js/data-edit.js') }}"></script>
{% endblock %}
{% block title %} 資料驗證 {% endblock %}

{% block popup %}
<!-- Warning Popup -->
<div class="popup-container duplicated-popup d-none">
    <div class="xx">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
            <g id="Group_789" data-name="Group 789" transform="translate(-1679 -599)">
                <g id="Group_712" data-name="Group 712" transform="translate(-133.5 164.5)">
                    <line id="Line_1" data-name="Line 1" x1="12" y2="12" transform="translate(1824.5 446.5)" fill="none" stroke="#B91F3E" stroke-linecap="round" stroke-width="2"/>
                    <line id="Line_2" data-name="Line 2" x2="12" y2="12" transform="translate(1824.5 446.5)" fill="none" stroke="#B91F3E" stroke-linecap="round" stroke-width="2"/>
                </g>
            </g>
        </svg>
    </div>
    <div class="popup-alert">
        <label>提醒：請選擇特定行 (≖ᴗ≖๑)</label>
    </div>
</div>

<div class="popup-container unknown-error-popup d-none">
    <div class="xx">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
            <g id="Group_789" data-name="Group 789" transform="translate(-1679 -599)">
                <g id="Group_712" data-name="Group 712" transform="translate(-133.5 164.5)">
                    <line id="Line_1" data-name="Line 1" x1="12" y2="12" transform="translate(1824.5 446.5)" fill="none" stroke="#B91F3E" stroke-linecap="round" stroke-width="2"/>
                    <line id="Line_2" data-name="Line 2" x2="12" y2="12" transform="translate(1824.5 446.5)" fill="none" stroke="#B91F3E" stroke-linecap="round" stroke-width="2"/>
                </g>
            </g>
        </svg>
    </div>
    <div class="popup-alert">
        <p>提醒：未知錯誤，請檢查表格是否填寫完整 ( ͡• ͜ʖ ͡• )</p>
        <p id="alert-small">* 請確保 ID 類欄位填寫完整，<br>如：eventID, occurrenceID, taxonID, samp_name</p>
    </div>
</div>

<div class="popup-container columns-issue-popup d-none">
    <div class="xx">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
            <g id="Group_789" data-name="Group 789" transform="translate(-1679 -599)">
                <g id="Group_712" data-name="Group 712" transform="translate(-133.5 164.5)">
                    <line id="Line_1" data-name="Line 1" x1="12" y2="12" transform="translate(1824.5 446.5)" fill="none" stroke="#B91F3E" stroke-linecap="round" stroke-width="2"/>
                    <line id="Line_2" data-name="Line 2" x2="12" y2="12" transform="translate(1824.5 446.5)" fill="none" stroke="#B91F3E" stroke-linecap="round" stroke-width="2"/>
                </g>
            </g>
        </svg>
    </div>
    <div class="popup-alert">
        <p>提醒：發生錯誤，匯入欄位不一致</p>
    </div>
</div>
{% endblock %}

{% block box2 %}
<div class="sheet-title">STEP3. 切換頁籤</div>
<div class="edit-title">STEP4. 編輯資料</div>
{% endblock %}

{% block box3 %}
    {% for template_name, col_names in checkbox_names.items()%}
        <div class="template-name">{{ template_name }}</div>
            {% for col_name in col_names %}
                <div class="checkbox-name checkbox-name-{{ template_name }}" data-checkbox-name="{{ col_name }}">{{ col_name }}</div>
            {% endfor %}
    {% endfor %}

    <ul class="tab-title">
        {% for type, names in template_names.items()|reverse  %}
            {% if names %}
            <div class="bookmark-title">{{ type }}</div> 
            {% endif %}
            {% for name in names %}
                <li><a href="#{{ name }}" >{{ name }}</a><p class="editing-mark d-none">●</p></li>
            {% endfor %}
        {% endfor %}
    </ul>
    
    <div>
        <div id="description-container">
            <div id="description-name"></div>
            <div class="description-content">
                <div class="description-title">所屬類別</div>
                <div id="description-type" class="description"></div>
            </div>
            <div class="description-content">
                <div class="description-title">定義</div>
                <div id="description-description" class="description"></div>
            </div>
            <div class="description-content">
                <div class="description-title">常見對應名稱</div>
                <div id="description-commonname" class="description"></div>
            </div>
            <div class="description-content">
                <div class="description-title">範例</div>
                <div id="description-example" class="description"></div>
            </div>
        </div>
        <div class="col-content d-none" ></div>
    </div>
    
    <form class="upload">
        <input type="file" name="uploadFile" accept=".csv" id="import-file"/>
        <br/><br/>
        <input type="submit" />
    </form>
{% endblock %}

{% block box4 %}

{% for type, names in template_names.items() %}
    {% for name in names %}
        <div id="{{ name }}" class="tab-inner">
            <!-- <p>{{ name }}</p> -->
            <div class="function-container">
                <button class="function-btn get-data-col-button" id="get-data-col-{{ name }}" data-name="{{ name }}">獲取行資料</button>
                <button class="function-btn import-button" id="import-{{ name }}" data-name="{{ name }}">匯入資料</button>
                <button class="function-btn export-button" id="export-{{ name }}" data-name="{{ name }}">匯出資料</button>
                <div class="wrapper">
                    <button id="add-row-{{ name }}" class="function-btn add-row-button" data-name="{{ name }}">新增列在表格底部</button>
                    <input type="text" id="insert-row-number-{{ name }}" class="insert-row-number" placeholder="填入需新增列數"/>
                </div>
            </div>
            <div id="row-count-grid-{{ name }}" class="row-count"></div>
            <div id="grid-{{ name }}"></div> 
            <div id="pages-grid-{{ name }}"></div> 
        </div>
        <div id="example1"></div>
    {% endfor %}
{% endfor %}


{% endblock %}

{% block box5 %}{% endblock %}

{% block box6 %}
<button class="btn back-btn">上一步</button>
<button class="btn next-btn">下一步</button>
{% endblock %}
