{% extends 'base.html' %}

{% block head %}
<script src="../static/package/jquery-3.6.4.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/data-validation.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/data-validation.css') }}">
{% endblock %}


{% block box2 %}
<div class="template-title">STEP5. 檢視資料</div>
{% endblock %}

{% block box3 %}

<form action="/download-result" method="POST">
    <input type="submit" id="download-result" class="d-none">
</form>

<!-- <ul class="tab-title">
    {% for name in table_name %}
        <li data-targets="#{{ name }}-error-message, #{{ name }}-term-frequency">{{ name }}<p class="editing-mark d-none">●</p></li>
    {% endfor %}
</ul> -->

<ul class="tab-title">
    {% for type, names in template_names.items()|reverse  %}
        {% if names %}
        <div class="bookmark-title">{{ type }}</div> 
        {% endif %}
        {% for name in names %}
            <!-- <li><a href="#{{ name }}" >{{ name }}</a><p class="editing-mark d-none">●</p></li> -->
            <li data-targets="#{{ name }}-error-message, #{{ name }}-term-frequency">{{ name }}<p class="editing-mark d-none">●</p></li>
        {% endfor %}
    {% endfor %}
</ul>

{% for key, value in table_stats.items() %}
    <div id="{{ key }}-term-frequency" class="tab-inner term-frequency">
        <div class="table-title">欄位頻率</div>
        <table class="term-frequency-table">
            <thead>
                <tr>
                    <th>欄位名稱</th>
                    <!-- <th class="center">計數</th> -->
                    <th class="center">正確率</th>
                    <!-- <th class="center">驗證數</th> -->
                </tr>
            </thead>
            <tbody>
                {% if value.unique_stats.items() %}
                    {% for inner_key, inner_value in value.unique_stats.items() %}
                    <tr>
                        <th>{{ inner_key }}</th>
                        <!-- <th class="center">{{ inner_value['total_rows'] }}</th> -->
                        <th class="center">{{ inner_value['valid_percentage'] }}%</th>
                        <!-- <th class="center">{{ inner_value['valid_rows'] }}</th> -->
                    </tr>
                    {% endfor %}
                {% endif %}

                {% if value.controlled_stats.items() %}
                    {% for inner_key, inner_value in value.controlled_stats.items() %}
                    <tr>
                        <th>{{ inner_key }}</th>
                        <!-- <th class="center">{{ inner_value['counts_rows'] }}</th> -->
                        <th class="center">{{ inner_value['valid_percentage'] }}%</th>
                        <!-- <th class="center">{{ inner_value['valid_rows'] }}</th> -->
                    </tr>
                    {% endfor %}
                {% endif %}  

                {% if value.lon_stats.items() %}
                    {% for inner_key, inner_value in value.lon_stats.items() %}
                    <tr>
                        <th>{{ inner_key }}</th>
                        <!-- <th class="center">{{ inner_value['counts_rows'] }}</th> -->
                        <th class="center">{{ inner_value['valid_percentage'] }}%</th>
                        <!-- <th class="center">{{ inner_value['valid_rows'] }}</th> -->
                    </tr>
                    {% endfor %}
                {% endif %}

                {% if value.lat_stats.items() %}
                    {% for inner_key, inner_value in value.lat_stats.items() %}
                    <tr>
                        <th>{{ inner_key }}</th>
                        <!-- <th class="center">{{ inner_value['counts_rows'] }}</th> -->
                        <th class="center">{{ inner_value['valid_percentage'] }}%</th>
                        <!-- <th class="center">{{ inner_value['valid_rows'] }}</th> -->
                    </tr>
                    {% endfor %}
                {% endif %}

                {% if value.datetime_stats.items() %}
                    {% for inner_key, inner_value in value.datetime_stats.items() %}
                    <tr>
                        <th>{{ inner_key }}</th>
                        <!-- <th class="center">{{ inner_value['counts_rows'] }}</th> -->
                        <th class="center">{{ inner_value['valid_percentage'] }}%</th>
                        <!-- <th class="center">{{ inner_value['valid_rows'] }}</th> -->
                    </tr>
                    {% endfor %}
                {% endif %}

                {% if value.date_column_stats.items() %}
                    {% for inner_key, inner_value in value.date_column_stats.items() %}
                    <tr>
                        <th>{{ inner_key }}</th>
                        <!-- <th class="center">{{ inner_value['counts_rows'] }}</th> -->
                        <th class="center">{{ inner_value['valid_percentage'] }}%</th>
                        <!-- <th class="center">{{ inner_value['valid_rows'] }}</th> -->
                    </tr>
                    {% endfor %}
                {% endif %}

                {% if value.remain_column_stats.items() %}
                    {% for inner_key, inner_value in value.remain_column_stats.items() %}
                    <tr>
                        <th>{{ inner_key }}</th>
                        <!-- <th class="center">{{ inner_value['counts_rows'] }}</th> -->
                        <th class="center">{{ inner_value['valid_percentage'] }}%</th>
                        <!-- <th class="center">{{ inner_value['valid_rows'] }}</th> -->
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endfor %}


{% endblock %}

{% block box4 %}

{% for key, value in table_stats.items() %}
    <div id="{{ key }}-error-message" class="tab-inner error-message-container">
        <p class="error-message-title">錯誤訊息</p>
        {% if value.unique_stats.items() %}
            {% for inner_key, inner_value in value.unique_stats.items() %}
                {% if inner_value['valid_percentage'] < 100 %}
                    <div class="error-message-box">
                        <span>{{ inner_value['invalid_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['invalid_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['invalid_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['invalid_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['invalid_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %} 
        
        {% if value.controlled_stats.items() %}
            {% for inner_key, inner_value in value.controlled_stats.items() %}
                {% if inner_value['valid_percentage'] < 100 %}
                    <div class="error-message-box">
                        <span>{{ inner_value['invalid_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['invalid_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['invalid_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['invalid_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['invalid_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %} 
        {% endif %} 

        {% if value.lon_stats.items() %}
            {% for inner_key, inner_value in value.lon_stats.items() %}
                {% if inner_value['invalid_rows']['count'] >= 1%}
                    <div class="error-message-box">
                        <span>{{ inner_value['invalid_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['invalid_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['invalid_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['invalid_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['invalid_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if inner_value['blank_rows']['count'] >= 1%}
                    <div class="error-message-box">
                        <span>{{ inner_value['blank_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['blank_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['blank_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['blank_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['blank_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if inner_value['zero_rows']['count'] >= 1%}
                    <div class="error-message-box">
                        <span>{{ inner_value['zero_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['zero_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['zero_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['zero_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['zero_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %} 

        {% if value.lat_stats.items() %}
            {% for inner_key, inner_value in value.lat_stats.items() %}
                {% if inner_value['invalid_rows']['count'] >= 1%}
                    <div class="error-message-box">
                        <span>{{ inner_value['invalid_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['invalid_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['invalid_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['invalid_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['invalid_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if inner_value['blank_rows']['count'] >= 1%}
                    <div class="error-message-box">
                        <span>{{ inner_value['blank_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['blank_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['blank_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['blank_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['blank_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if inner_value['zero_rows']['count'] >= 1%}
                    <div class="error-message-box">
                        <span>{{ inner_value['zero_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['zero_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['zero_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['zero_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['zero_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %} 

        {% if value.datetime_stats.items() %}
            {% for inner_key, inner_value in value.datetime_stats.items() %}
                {% if inner_value['valid_percentage'] < 100 %}
                    <div class="error-message-box">
                        <span>{{ inner_value['invalid_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['invalid_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['invalid_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['invalid_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['invalid_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if inner_value['mismatched_year_rows'] is not none and inner_value['mismatched_year_rows']['count'] >= 1 %}
                    <div class="error-message-box mismatch">
                        <span>{{ inner_value['mismatched_year_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['mismatched_year_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table three-col">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                    <th>year</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['mismatched_year_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['mismatched_year_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['mismatched_year_rows']['raw_eventDate'][i] }}</td>
                                        <td>{{ inner_value['mismatched_year_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if inner_value['mismatched_month_rows'] is not none and inner_value['mismatched_month_rows']['count'] >= 1 %}
                    <div class="error-message-box mismatch">
                        <span>{{ inner_value['mismatched_month_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['mismatched_month_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table three-col">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                    <th>month</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['mismatched_month_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['mismatched_month_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['mismatched_month_rows']['raw_eventDate'][i] }}</td>
                                        <td>{{ inner_value['mismatched_month_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                {% if inner_value['mismatched_day_rows'] is not none and inner_value['mismatched_day_rows']['count'] >= 1 %}
                    <div class="error-message-box mismatch">
                        <span>{{ inner_value['mismatched_day_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['mismatched_day_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table three-col">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                    <th>day</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['mismatched_day_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['mismatched_day_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['mismatched_day_rows']['raw_eventDate'][i] }}</td>
                                        <td>{{ inner_value['mismatched_day_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %} 

        {% if value.date_column_stats.items() %}
            {% for inner_key, inner_value in value.date_column_stats.items() %}
                {% if inner_value['invalid_rows']['valid_percentage'] < 100 %}
                    <div class="error-message-box">
                        <span>{{ inner_value['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['invalid_rows']['count'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['invalid_rows']['count']) %}
                                    <tr>
                                        <td>{{ inner_value['invalid_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['invalid_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %} 
            {% endfor %}
        {% endif %}
        
        {% if value.remain_column_stats.items() %}
            {% for inner_key, inner_value in value.remain_column_stats.items() %}
                {% if inner_value['blank_rows']['counts'] > 0 %}
                    <div class="error-message-box blank">
                        <span>{{ inner_value['blank_rows']['error_message'] }}</span>
                        <span class="invalid_rows">{{ inner_value['blank_rows']['counts'] }}</span>
                    </div>
                    <div class="accordion-menu d-none">
                        <table class="accordion-table">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>{{ inner_key }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(inner_value['blank_rows']['counts']) %}
                                    <tr>
                                        <td>{{ inner_value['blank_rows']['indexes'][i] }}</td>
                                        <td>{{ inner_value['blank_rows']['values'][i] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %} 
            {% endfor %}
        {% endif %} 
    </div>
{% endfor %}

{% endblock %}

{% block box6 %}
<button class="btn fake-btn"></button>
<button class="btn back-btn">上一步</button>
<button class="btn save-result-btn">下載錯誤訊息</button>
<button class="btn next-btn">下一步</button>
{% endblock %}
